* {
  box-sizing: border-box;
}

body {
  background-color: #eef9bf;
}

header {
  display: flex;
  justify-content: center;
  padding: 40px 20px 60px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  text-transform: uppercase;

  color: #75b79e;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.card-row {
  display: flex;
  gap: 34px;
}

.card {
  position: relative;

  width: 117px;
  height: 146px;
}

.card .label {
  display: none;
}

.card .face {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 5px;

  background-color: #a7e9af;
  border: 1px solid #99cea8;

  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.card .front.face {
  transform: rotateY(180deg);
}

.card.flipped .back.face {
  transform: rotateY(-180deg);
}

.card.flipped .front.face {
  transform: rotateY(0deg);
}

.card .face img {
  width: 100px;
  height: 100px;
}

.timer {
  position: fixed;
  top: 25px;
  right: 25px;

  padding: 5px;
  border-radius: 10px;

  font-size: 18px;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px) {
  header {
    padding: 20px;
  }

  h1 {
    text-align: center;
  }

  .card-row {
    flex-direction: column;
  }
}

